:root{
  --primary-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --ultra-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --error: hsl(13, 67%, 50%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  background-color: var(--light-grayish-cyan);
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

input, label, button, p{
  font-family: 'Space Mono', monospace;
  font-weight: 600;
}

input{
  color: var(--very-dark-cyan);
  height: 3.5rem;
  border: .2rem solid var(--ultra-light-grayish-cyan);
  background-color: var(--ultra-light-grayish-cyan);
  border-radius: 0.5rem;
  text-align: right;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 1.1rem;
  pointer-events: all;
}

input#custom{
  width: 13.3rem;
}

.icon-bill{
  background-image: url('../images/icon-dollar.svg');  
}

.icon-person{
  background-image: url('../images/icon-person.svg');
}

input:focus{
  border: .2rem solid var(--primary-cyan);
  outline: none;
}

label{
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--dark-grayish-cyan);
}

.card{
  padding: 3rem;
  border-radius: 2rem;
}

.card-container{
  background-color: var(--white);
  max-width: 34rem;
}

.card-result{
  background-color: var(--very-dark-cyan);
  margin: 2rem 0rem;
  padding: 1.5rem 2.5rem;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
}

.img-container{
  margin: 4rem 0rem;
  text-align: center;
}

.block{
  display: block;
}

.group-button{
  pointer-events: none;
}

button{
  pointer-events: all;
  border-radius: .8rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.group-button > button{
  background-color: var(--very-dark-cyan);
  color: var(--white);
  width: 13.3rem;
  padding: 1rem 0rem;
  margin: .6rem .4rem;
}

.group-button > button:hover{
  background-color: var(--primary-cyan);
  color: var(--very-dark-cyan);
  transition: background-color .4s ease-in-out;
}

p{
  margin: 0;
  padding: 0;
  color: var(--white);
  font-weight: 700;
}

.amount-result{
  font-size: 3.3rem;
  color: var(--primary-cyan);
}

.container-percent{
  margin: 3rem 0rem;
}

.description p:nth-child(2){
  color: var(--dark-grayish-cyan);
}

.btn-calculate{
  width: 100%;
  padding: 1rem 0rem;
  color: var(--very-dark-cyan);
  background-color: var(--primary-cyan);
  margin: 2rem 0rem;
}

.btn-calculate:hover{
  background-color: var(--primary-cyan);
}

.flex-between{
  flex-direction: row;
  justify-content: space-between;
}

.calculator-result > .calculator-container{
  padding: 1rem 0rem;
}

.bg-red{
  background-color: var(--primary-cyan)!important;
  color: var(--very-dark-cyan)!important;
}

.error{
  color: var(--error);
}